@font-face {
  font-family: 'Lama Sans';
  src: url('./LamaSans-Regular.woff2') format('woff2'),
       url('./LamaSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lama Sans';
  src: url('./LamaSans-Medium.woff2') format('woff2'),
       url('./LamaSans-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lama Sans';
  src: url('./LamaSans-Bold.woff2') format('woff2'),
       url('./LamaSans-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
} 